---
http_interactions:
- request:
    method: get
    uri: http://product.datastream.com/DSWSClient/V1/DSService.svc/rest/Token?Password=test&UserName=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Properties":null,"TokenExpiry":"\/Date(1544100898530)\/","TokenValue":"sample_token"}'
  recorded_at: Wed, 05 Dec 2018 12:55:59 GMT
- request:
    method: post
    uri: http://product.datastream.com/DswsClient/V1/DSService.svc/rest/GetData
    body:
      encoding: UTF-8
      string: '{"DataRequest":{"Date":{"End":"2018-04-01","Frequency":"","Kind":1,"Start":"2018-01-01"},"Instrument":{"Properties":[{"Key":"IsSymbolSet","Value":true}],"Value":"<.TRXFLDAUTFIN>"},"Tag":null},"Properties":null,"TokenValue":"sample_token"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"DataResponse":{"AdditionalResponses":[{"Key":"Frequency","Value":"D"}],"DataTypeNames":null,"DataTypeValues":[{"DataType":"","SymbolValues":[{"Currency":"A$","Symbol":"<.TRXFLDAUTFIN>","Type":10,"Value":[684.94,683.32,682.84,682.68,688.07,689.86,690.25,686.67,684.04,680.94,680.64,677.11,675.76,677.69,676.58,671.92,677.04,678.62,677.07,677.07,679.12,674.93,677.15,683.94,686.41,677.51,656.13,656.36,661.05,657.56,653.86,657.6,656.54,661.62,660.37,664.58,664.01,667.19,668.21,673.09,680.7,683.72,679.33,677.28,674.45,670.17,675.03,668.37,673.67,678.42,681.02,679.55,673.92,669.19,668.13,667.97,667.53,669.9,666.51,653.8,649.17,650.54,646.69,646.51,646.51]}]}],"Dates":["\/Date(1514764800000+0000)\/","\/Date(1514851200000+0000)\/","\/Date(1514937600000+0000)\/","\/Date(1515024000000+0000)\/","\/Date(1515110400000+0000)\/","\/Date(1515369600000+0000)\/","\/Date(1515456000000+0000)\/","\/Date(1515542400000+0000)\/","\/Date(1515628800000+0000)\/","\/Date(1515715200000+0000)\/","\/Date(1515974400000+0000)\/","\/Date(1516060800000+0000)\/","\/Date(1516147200000+0000)\/","\/Date(1516233600000+0000)\/","\/Date(1516320000000+0000)\/","\/Date(1516579200000+0000)\/","\/[...]
- request:
    method: get
    uri: http://product.datastream.com/DSWSClient/V1/DSService.svc/rest/Token?Password=test&UserName=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Properties":null,"TokenExpiry":"\/Date(1544101489509)\/","TokenValue":"sample_token"}'
  recorded_at: Wed, 05 Dec 2018 13:05:51 GMT
recorded_with: VCR 4.0.0
