---
http_interactions:
- request:
    method: post
    uri: https://hosted.datascopeapi.reuters.com/RestApi/v1/Authentication/RequestToken
    body:
      encoding: UTF-8
      string: '{"Credentials":{"Username":"test","Password":"test"}}'
    headers:
      Prefer:
      - respond-async
      Content-Type:
      - application/json; odata=minimalmetadata
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Execution-Correlation-Id:
      - CiD/0/AAAAAA.0x066f07d33ff0228d/RA
      X-App-Id:
      - Custom.RestApi
      X-App-Version:
      - 12.2.532.64
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://hosted.datascopeapi.reuters.com/RestApi/v1/$metadata#Edm.String","value":"sample_token"}'
  recorded_at: Wed, 05 Dec 2018 10:07:54 GMT
- request:
    method: post
    uri: https://hosted.datascopeapi.reuters.com/RestApi/v1/Extractions/ExtractWithNotes
    body:
      encoding: UTF-8
      string: '{"ExtractionRequest":{"@odata.type":"TimeSeriesExtractionRequest","ContentFieldNames":["Close
        Price","Trade Date"],"IdentifierList":{"@odata.type":"InstrumentIdentifierList","InstrumentIdentifiers":[{"Identifier":".TRXFLDAUTFIN","IdentifierType":"Ric"}],"ValidationOptions":null,"UseUserPreferencesForValidationOptions":false},"Condition":{"StartDate":"2018-01-01","EndDate":"2018-04-01"}}}'
    headers:
      Prefer:
      - respond-async; wait=5
      Content-Type:
      - application/json; odata=minimalmetadata
      Authorization:
      - Token sample_token
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://hosted.datascopeapi.reuters.com/RestApi/v1/Extractions/ExtractWithNotesResult(ExtractionId='0x066f052511e02281')
      Status:
      - InProgress
      Progress:
      - ''
      X-Request-Execution-Correlation-Id:
      - CiD/9010877/AAAAAA.0x066f052511f02281/RA
      X-App-Id:
      - Custom.RestApi
      X-App-Version:
      - 12.2.532.64
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 05 Dec 2018 10:08:00 GMT
- request:
    method: get
    uri: https://hosted.datascopeapi.reuters.com/RestApi/v1/Extractions/ExtractWithNotesResult(ExtractionId='0x066f052511e02281')
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Prefer:
      - respond-async; wait=5
      Authorization:
      - Token sample_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Execution-Correlation-Id:
      - CiD/9010877/AAAAAA.0x066f08c8f5302292/RA
      X-App-Id:
      - Custom.RestApi
      X-App-Version:
      - 12.2.532.64
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://hosted.datascopeapi.reuters.com/RestApi/v1/$metadata#ThomsonReuters.Dss.Api.Extractions.ExtractionRequests.ExtractionResult","Contents":[{"IdentifierType":"Ric","Identifier":".TRXFLDAUTFIN","Close
        Price":646.51,"Trade Date":"2018-03-30"},{"IdentifierType":"Ric","Identifier":".TRXFLDAUTFIN","Close
        Price":646.51,"Trade Date":"2018-03-29"},{"IdentifierType":"Ric","Identifier":".TRXFLDAUTFIN","Close
        Price":646.69,"Trade Date":"2018-03-28"},{"IdentifierType":"Ric","Identifier":".TRXFLDAUTFIN","Close
        Price":650.54,"Trade Date":"2018-03-27"},{"IdentifierType":"Ric","Identifier":".TRXFLDAUTFIN","Close
   [...]
