---
http_interactions:
- request:
    method: post
    uri: https://hosted.datascopeapi.reuters.com/RestApi/v1/Authentication/RequestToken
    body:
      encoding: UTF-8
      string: '{"Credentials":{"Username":"test","Password":"test"}}'
    headers:
      Prefer:
      - respond-async
      Content-Type:
      - application/json; odata=minimalmetadata
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Execution-Correlation-Id:
      - CiD/0/AAAAAA.0x066f09aae4402296/RA
      X-App-Id:
      - Custom.RestApi
      X-App-Version:
      - 12.2.532.64
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://hosted.datascopeapi.reuters.com/RestApi/v1/$metadata#Edm.String","value":"sample_token"}'
  recorded_at: Wed, 05 Dec 2018 10:03:35 GMT
- request:
    method: post
    uri: https://hosted.datascopeapi.reuters.com/RestApi/v1/Extractions/ExtractWithNotes
    body:
      encoding: UTF-8
      string: '{"ExtractionRequest":{"@odata.type":"CompositeExtractionRequest","ContentFieldNames":["Close
        Price","Contributor Code Description","Currency Code Description","Dividend
        Yield","Main Index","Market Capitalization","Market Capitalization - Local
        Currency","Percent Change - Close Price - 1 Day","Universal Close Price Date"],"IdentifierList":{"@odata.type":"InstrumentIdentifierList","InstrumentIdentifiers":[{"Identifier":".TRXFLDAUTFIN","IdentifierType":"Ric"}],"ValidationOptions":null,"UseUserPreferencesForValidationOptions":false},"Condition":null}}'
    headers:
      Prefer:
      - respond-async; wait=5
      Content-Type:
      - application/json; odata=minimalmetadata
      Authorization:
      - Token sample_token
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Location:
      - https://hosted.datascopeapi.reuters.com/RestApi/v1/Extractions/ExtractWithNotesResult(ExtractionId='0x066f06fbea402289')
      Status:
      - InProgress
      Progress:
      - ''
      X-Request-Execution-Correlation-Id:
      - CiD/9010877/AAAAAA.0x066f06fbea502289/RA
      X-App-Id:
      - Custom.RestApi
      X-App-Version:
      - 12.2.532.64
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 05 Dec 2018 10:03:41 GMT
- request:
    method: get
    uri: https://hosted.datascopeapi.reuters.com/RestApi/v1/Extractions/ExtractWithNotesResult(ExtractionId='0x066f06fbea402289')
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Prefer:
      - respond-async; wait=5
      Authorization:
      - Token sample_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Execution-Correlation-Id:
      - CiD/9010877/AAAAAA.0x066f08c6a4c02292/RA
      X-App-Id:
      - Custom.RestApi
      X-App-Version:
      - 12.2.532.64
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://hosted.datascopeapi.reuters.com/RestApi/v1/$metadata#ThomsonReuters.Dss.Api.Extractions.ExtractionRequests.ExtractionResult","Contents":[{"IdentifierType":"Ric","Identifier":".TRXFLDAUTFIN","Close
        Price":650.66,"Contributor Code Description":"Thomson Reuters","Currency Code
        Description":"Australian Dollar","Dividend Yield":null,"Main Index":null,"Market
        Capitalization":25735172267.3505,"Market Capitalization - Local Currency":"CAD","Percent
        Change - Close Price - 1 Day":-1.002662609,"Universal Close Price Date":"2018-12-04"}],"Notes":["Extraction
        Services Version 12.2.39833 (738e4c2fbb28), Built Nov  1 2018 10:43:11\r\nHoliday
        Rollover of Universal Close Price waived.\r\nProcessing started at 12/05/2018
        19:03:43.\r\nUser ID: 9010877\r\nExtraction ID: 335341688\r\nSchedule: _OnD_0x066f06fbea402289
        (ID = 0x066f06fbebf02289)\r\nInput List (1 items): _OnD_0x066f06fbea402289
        (ID = 066f06fbeaa02289) Created: 12/05/2018 19:03:37 Last Modified: 12/05/2018
        19:03:37\r\nSchedule Time: 12/[...]
