---
http_interactions:
- request:
    method: post
    uri: https://hosted.datascopeapi.reuters.com/RestApi/v1/Authentication/RequestToken
    body:
      encoding: UTF-8
      string: '{"Credentials":{"Username":"xxx","Password":"xxx"}}'
    headers:
      Prefer:
      - respond-async
      Content-Type:
      - application/json; odata=minimalmetadata
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Execution-Correlation-Id:
      - CiD/0/AAAAAA.0x06631c656b201752/RA
      X-App-Id:
      - Custom.RestApi
      X-App-Version:
      - 12.2.513.64
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://hosted.datascopeapi.reuters.com/RestApi/v1/$metadata#Edm.String","value":"_PxfpjufbS9sBU77xpG1MUiV_e5qzE3Q9UuEe_FeN1DdyczUyu5Hpsp-2aS2KVBcsiDmmJ53rPBImlCt4db72crLIuK0mkoMUaB4ijUNxfflacynHrg-4T_rBhCvZkq22oID3xd7RazQw3FIdNnJWeYhdhlUGNZNJkaiDVL-8-elOBUal04TSLXQfcKjDBl6ghdLVI6o8XTurEnaYkS1lh1zF52uXD1W5xi5dWfhLPC07ZdoAuyM-rH4BCiF5I6nq3KAiRKTVVqpP4CUmX9_VbN7H5k0UAwfZAXMo4LXdWMQ"}'
  recorded_at: Mon, 29 Oct 2018 10:16:19 GMT
recorded_with: VCR 4.0.0
