---
http_interactions:
- request:
    method: post
    uri: https://hosted.datascopeapi.reuters.com/RestApi/v1/Authentication/RequestToken
    body:
      encoding: UTF-8
      string: '{"Credentials":{"Username":"xxx","Password":"xxx"}}'
    headers:
      Prefer:
      - respond-async
      Content-Type:
      - application/json; odata=minimalmetadata
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Request-Execution-Correlation-Id:
      - CiD/0/AAAAAA.0x06631c656b201752/RA
      X-App-Id:
      - Custom.RestApi
      X-App-Version:
      - 12.2.513.64
    body:
      encoding: UTF-8
      string: '{"@odata.context":"https://hosted.datascopeapi.reuters.com/RestApi/v1/$metadata#Edm.String","value":"sample_token"}'
  recorded_at: Mon, 29 Oct 2018 10:16:19 GMT
recorded_with: VCR 4.0.0
